/*====================================
				Fonte
====================================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/*=======================================
				CSS reset
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
=======================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*====================================
				Geral
====================================*/

html {
    font-size: calc(15px + 0.390625vw);
}
body {
    font-family: "Open Sans", sans-serif;
}
main {
	margin: 0 8vw 0 15vw;
}
a {
    text-decoration: none;
    color: black;
}


/*==================================
				Topo				
==================================*/

header {
	margin: 2vw 8vw 0 15vw;
}
header nav ul {
	display: flex;
	justify-content: right;
}
header nav ul li {
	margin: 0 30px 0 0;
	font-weight: 500;
}
header nav ul li.atual a {
	color:#FF6464;
}


/*======================================
			Conteúdo - Works
======================================*/

main.works section{
	border-bottom: 1px solid gray;
	padding: 0 0 3vw 0;
	margin: 1vw 0 2vw 0;
}
main.works section:last-child{
	border: none;
}
main.works span h1 {
	font-weight: 400;
	font-size: 2.5rem;
	margin: 6vw 0 5vw 0;
}
main.works h2 {
	font-size: 2rem;
	font-weight: bold;
	margin: 5vw 0 0 0;
}
main.works h2.Design {
	text-decoration: underline 3px;
	margin: 0 0 0 4vw;
}
main.works section p.dashboards {
	font-size: 1.2rem;
	margin: 1vw 0 4vw 0;
}
main.works section p.experience{
	font-size: 1.2rem;
	margin: 1vw 0 4vw 0;
}
main.works section p span.year {
	margin: 0 20px 0 0;
	background-color: #FF6464;
	color: white;
	border-radius: 12px;
	padding: 0 5px 0 5px;
}
main.works section p{
	margin: 0 0 12px 0;
}


/*========================================
			Conteúdo - Home page
========================================*/

main.homepage section.banner {
	display: flex;
	padding: 10vw 0 5vw 0;
	background-color: white;
	margin: 3vw 0 0 0;
}
main.homepage section.banner h1 {
	font-weight: bold;
	font-size: 2.5rem;
}
main.homepage section.banner p {
	margin: 3vw 0 3vw 0;
}
main.homepage section.banner button {
	background-color: #FF6464;
	color: white;
	font-size: 1.2rem;
	padding: 1.2vw 1.4vw 1.2vw 1.4vw;
	font-weight: bold;
	border: 0;
}
main.homepage section.banner div img {
	margin: 0 4vw 0 4vw;
	font-size: 1.5rem;
}


main.homepage section.posts {
	background: #EDF7FA;
	margin: 4vw 0 4vw 0;
	padding: 3vw;
}
main.homepage section.posts ul {
	display: flex;

}
main.homepage section.posts h2 {
	font-size: 2rem;
	margin: 0 0 2vw 0;
}
main.homepage section.posts ul li {
	margin: 0 1vw 0 0;
	background: white;
	padding: 2vw 1vw 2vw 1vw;
}
main.homepage section.posts ul li:last-child {
	margin: 0 0 0 0;
}
main.homepage section.posts ul h3 {
	font-size: 1.6rem;
	font-weight: bold;
}
main.homepage section.posts p.date {
	margin: 3vw 0 1vw 0;
}
main.homepage section.posts p {
	margin: 1.5vw 0 1.5vw 0;
}
main.homepage section.posts span {
	margin: 0 1vw 0 1vw;
}


main.homepage section.newWorks {
	margin: 1vw;
}
main.homepage section.newWorks h2 {
	font-size: 2rem;
}
main.homepage section.newWorks div {
	display: flex;
	margin: 2vw 0 2vw 0;
}
main.homepage section.newWorks div div {
	display: block;
}
main.homepage section.newWorks div div.one {
	margin: 0 1vw 0 0;
}
main.homepage section.newWorks div div.two {
	margin: 0 0 0 1vw;
}
main.homepage section.newWorks div div h3 {
	font-size: 1.6rem;
	font-weight: bold;
	margin: 2vw 0 0 0;
}
main.homepage section.newWorks img.firstImage {
	padding: 0 0 0 12vw;
}
main.homepage section.newWorks img.secondImage  {
	padding: 0 2vw 0 0;
}
main.homepage section.newWorks p.secondImage{
	padding: 0 0 0 0;
}
main.homepage section.newWorks div div p {
	margin: 1vw 0 1vw 0;
}
main.homepage section.newWorks div div p.years {
	margin: 2vw 0 0 0 ;
}
main.homepage section.newWorks div div p span {
	background-color: #142850;
	border-radius: 17px;
	font-weight: bold;
	color: white;
	padding: 0 6px 0 6px;

}


/*===========================
			Rodapé
===========================*/

footer {
	text-align: center;
	margin: 3vw 0 2vw 0;
}
footer nav ul {
	display: flex;
	justify-content: center;
}
footer nav ul li {
	margin: 2vw;
}
footer nav ul li span {
	font-size: 2.2rem;
}
